@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v10/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  background: black;
}
p {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.4rem;
}
a {
  text-transform: uppercase;
  user-select: none;
  transition: 0.3s;
}
.nav {
  background: gold;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  opacity: 0.9;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px black;
}
.nav .nav__container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
}
.nav .nav__container .nav__link {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
}
.nav .nav__container .nav__link:hover,
.nav .nav__container .nav__link:active {
  color: brown;
}
@media screen and (max-width: 800px) {
  .nav .nav__container .nav__link {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .nav .nav__container .nav__link {
    font-size: 4vh;
    line-height: 20vh;
  }
}
.nav .nav__container .nav__title {
  min-width: 15%;
}
@media screen and (max-width: 500px) {
  .nav .nav__container .nav__title {
    width: 95%;
    text-align: left;
  }
}
.nav .nav__container .nav__title-link {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.nav .nav__container .nav__title-link:hover,
.nav .nav__container .nav__title-link:active {
  color: brown;
}
@media screen and (max-width: 800px) {
  .nav .nav__container .nav__title-link {
    font-size: 2.4rem;
  }
}
.nav .nav__container .nav__list {
  position: relative;
  display: flex;
  justify-content: space-around;
  min-width: 70%;
}
@media screen and (max-width: 500px) {
  .nav .nav__container .nav__list {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 0;
    padding: 0 0 20px 0;
    margin: 0;
    background-color: gold;
    list-style: none;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease-out, height 0ms linear 300ms;
  }
}
.nav .nav__container .nav__burger {
  display: none;
  font-size: 2.2rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .nav .nav__container .nav__burger {
    display: block;
    text-align: right;
  }
}
.nav .nav__container .nav__burger:visited {
  color: black;
}
@media screen and (max-width: 500px) {
  .nav--opened .nav__container .nav__list {
    height: 100vh;
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
}
.header .header__container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__container .header__image {
  z-index: -1;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .header .header__container .header__image {
    left: 50%;
    margin-left: -512px;
  }
}
.header .header__container .header__content {
  background: black;
  width: 70%;
  max-width: 500px;
  border: 10px solid gold;
  box-shadow: 0px 0px 2px black;
  padding: 25px;
  opacity: 0.8;
}
.header .header__container .header__content .header__title {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}
.header .header__container .header__content .header__text {
  color: white;
  margin: 20px 0;
}
button {
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: bold;
  background-color: gold;
  border: 2px solid none;
  border-radius: 15px;
  color: black;
  font-size: 2.2rem;
  height: 50px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  max-width: 500px;
  line-height: 2.4rem;
  text-transform: uppercase;
  user-select: none;
}
button:hover {
  border: 2px solid brown;
  color: brown;
}
.overlay {
  display: none;
  background: gold;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  transition: opacity 0.5s ease;
}
