// Global styling

html {
  font-size: 62.5%;
  background: @page-bg;
}

p {
  .font(@page-font, sans-serif; bold; normal; @page-fontsize; @page-color);
  line-height: 2.4rem;
}

a {
  text-transform: uppercase;
  user-select: none;
  transition: 0.3s;
}

