// Mixin declarations

.flex(@justify: center, @flow: initial, @align-itm: center, @align-con: center) {
  display: flex;
  justify-content: @justify;
  flex-flow: @flow;
  align-items: @align-itm;
  align-content: @align-con;
}

.font(@fontFamily: Arial, sans-serif; @fontWeight: normal; @fontStyle: normal; @fontSize: 1.6rem; @fontColor: black) {
  color: @fontColor;
  font-family: @fontFamily;
  font-size: @fontSize;
  font-style: @fontStyle;
  font-weight: @fontWeight;
}

.button-style(@btnWidth: 100%, @btnHeight: 50px, @btnPadding: 0 5px,
               @btnBorder: none, @btnBorderRadius: 0,
               @btnBgColor: @white, @btnTextColor: @black, @btnHoverColor: @black,
               @btnFontSize: 1.6rem) {
  background-color: @btnBgColor;
  border: 2px solid @btnBorder;
  border-radius: @btnBorderRadius;
  color: @btnTextColor;
  display: block;
  font-size: @btnFontSize;
  height: @btnHeight;
  padding: @btnPadding;
  text-align: center;
  width: @btnWidth;
  max-width: 500px;
  text-transform: uppercase;
  margin: 0 auto;

  &:hover {
    border: 2px solid @btnHoverColor;
    color: @btnHoverColor;
  }
}