// Variable declarations

@import "https://fonts.googleapis.com/css?family=PT+Sans&display=swap";

@menu-bg: black;
@menu-color: white;
@menu-font: "PT Sans";
@menu-fontsize: 2rem;

@page-bg: beige;
@page-color: black;
@page-font: "PT Sans";
@page-fontsize: 2rem;

@footer-bg: black;
@footer-color: white;
@footer-font: "PT Sans";
@footer-fontsize: 2rem;

// Responsiveness
@mobile: ~"screen and (max-width: 500px)";
@tablet: ~"screen and (max-width: 800px)";